### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [126]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# Some stats and variables that will be reused a lot
num_of_users = purchase_data['SN'].nunique()

# Some helper methods
def money_formatter(num):
    return "${:,.2f}".format(num)
    
def analysis_func(grouper):
    '''
    Function for the basic anaylsis of a group

    Parameters
    -----------------------
    grouper: The col we want to group by
    
    Returnsdjkfdkjf
    -----------------------
    Retruns a dataframe with the group counts and Price means and sum
    '''
    df = purchase_data.groupby(grouper).agg({grouper: 'count', 
                                                'Price': ['mean','sum', lambda x: x.sum()/x.count()]})
    df.columns = ['Purchase Count', 'Average Purchase Price', 
                           'Total Purchase Price', 'Avg Total Purchase per Person']

    format_cols = ['Average Purchase Price', 
                'Total Purchase Price', 
                'Avg Total Purchase per Person']

    df[format_cols] = df[format_cols].round(2).applymap(money_formatter)
    return df

## Player Count

* Display the total number of players

In [127]:
print("The total number of users is: {}".format(num_of_users))

The total number of users is: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [129]:
total_dict = {}
total_dict['Number of Unique Items'] = [purchase_data['Purchase ID'].nunique()]
total_dict['Average Price'] = ['${:,.2f}'.format(round(purchase_data['Price'].mean(), 2))]
total_dict['Number of Purchases'] = [purchase_data['Purchase ID'].count()]
total_dict['Total Revenue'] = ['${:,.2f}'.format(purchase_data['Price'].sum())]

pd.DataFrame(total_dict)

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     780         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [133]:
gender_df = purchase_data.groupby('Gender').agg({'Gender': 'count'})

# Format for output
gender_df['Percentage'] = gender_df['Gender'].apply(
    lambda x: '{}%'.format(round(100*x/gender_df['Gender'].sum(),2)))
gender_df.rename(columns={'Gender': 'Gender Count'})

                       Gender Count Percentage
Gender
Female                          113     14.49%
Male                            652     83.59%
Other / Non-Disclosed            15      1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [134]:
gender_analysis = analysis_func('Gender')
gender_analysis

,Purchase Count,Average Purchase Price,Total Purchase Price,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$3.20
Male,652,$3.02,"$1,967.64",$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [135]:
# Create age bins
bins = [0] + [i for i in range(10, 41, 5)] + [np.inf]
labels = ['<10'] + ['{}-{}'.format(i, i+4) for i in bins[1:-2]] + ['40+']

# Create 
purchase_data['Age Bin'] = pd.cut(purchase_data['Age'], bins, labels=labels)

# Aggregate Data
age_demo = purchase_data.groupby('Age Bin').agg({'SN': ['count', lambda x: 100*x.count()/num_of_users]})

# Format
age_demo.index.rename('', inplace=True)
age_demo.columns = ['Players', 'Percentage']
age_demo['Percentage'] = age_demo['Percentage'].round(2).apply(lambda x: '{}%'.format(x))
age_demo

       Players Percentage

<10         32      5.56%
10-14       54      9.38%
15-19      200     34.72%
20-24      325     56.42%
25-29       77     13.37%
30-34       52      9.03%
35-39       33      5.73%
40+          7      1.22%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [136]:
age_analysis = analysis_func('Age Bin')
age_analysis

,Purchase Count,Average Purchase Price,Total Purchase Price,Avg Total Purchase per Person
Age Bin,,,,
<10,32,$3.40,$108.96,$3.40
10-14,54,$2.90,$156.60,$2.90
15-19,200,$3.11,$621.56,$3.11
20-24,325,$3.02,$981.64,$3.02
25-29,77,$2.88,$221.42,$2.88
30-34,52,$2.99,$155.71,$2.99
35-39,33,$3.40,$112.35,$3.40
40+,7,$3.08,$21.53,$3.08

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [137]:
spenders_df = purchase_data.groupby('SN').agg({'Purchase ID': 'count','Price': ['mean','sum']})
spenders_df.columns = ['Number of Purchases', 'Average Price', 'Total Purchases']
top_spenders = spenders_df.sort_values(by='Total Purchases', ascending=False)
format_cols = ['Average Price','Total Purchases']
top_spenders[format_cols] = top_spenders[format_cols].round(2).applymap(money_formatter)
top_spenders.index.rename('', inplace=True)
top_spenders.head()

             Number of Purchases Average Price Total Purchases

Lisosia93                      5         $3.79          $18.96
Idastidru52                    4         $3.86          $15.45
Chamjask73                     3         $4.61          $13.83
Iral74                         4         $3.40          $13.62
Iskadarya95                    3         $4.37          $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [138]:
# Create general popular aggregation
pop_cols = ['Item ID', 'Item Name', 'Price']
popular_df = purchase_data.groupby(pop_cols).agg({'Purchase ID': 'count', 'Price': 'sum'})
popular_df.columns = ['Purchase Count', 'Total Purchase Price']
popular_df.reset_index(level='Price', inplace=True)

# Set up cols for formatting
format_cols = ['Price', 'Total Purchase Price']
ordered_cols = ['Purchase Count', 'Price', 'Total Purchase Price']

In [139]:
# Sort by most purchases
popular_items = popular_df[ordered_cols].sort_values('Purchase Count', ascending=False)
popular_items[format_cols] = popular_items[format_cols].applymap(money_formatter)
popular_items.head()

,,Purchase Count,Price,Total Purchase Price
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [140]:
most_profitable = popular_df.sort_values('Total Purchase Price', ascending=False)
most_profitable = most_profitable[format_cols].applymap(money_formatter)
most_profitable.head()

,,Price,Total Purchase Price
Item ID,Item Name,,
178,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,$50.76
82,Nirvana,$4.90,$44.10
145,Fiery Glass Crusader,$4.58,$41.22
92,Final Critic,$4.88,$39.04
103,Singed Scalpel,$4.35,$34.80